<div [ngClass]="sticky_class">
  <div class="main-container" #main_container [ngClass]="sticky_class1">
    <div class="logo-container">
      <img src="assets/HEGO_crop.png" (click)="goToHome()" class="logo">
      <button mat-icon-button (click)="switch()" style="background-color: transparent; color: #39B09D">
        <mat-icon >menu</mat-icon>
      </button>
    </div>
    <div [ngClass]="links_class">
      <p routerLink="/" (click)="this.links_class = 'links-closed'">HOME</p>
      <p *ngIf="!isLoggedIn" routerLink="/login" (click)="this.links_class = 'links-closed'">LOGIN</p>
      <p *ngIf="isLoggedIn" routerLink="/profile" (click)="this.links_class = 'links-closed'">PROFILO</p>
      <p *ngIf="isLoggedIn" routerLink="/favorite" (click)="this.links_class = 'links-closed'">LISTA DEI PREFERITI</p>
    </div>
  </div>
</div>
