footer {
    background-color: rgba(57, 176, 157, 0.2);
    padding: 20px;
    text-align: center;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  ul li a {
    text-decoration: none;
    color: #000000;
  }
  
  ul li a:hover {
    text-decoration: underline;
  }