<p>Ultimo aggiornamento: 23 Settembre 2025</p>

<h2>Introduzione</h2>
<p>
  La tua privacy è di fondamentale importanza per Hego TV. Questa Privacy Policy
  descrive quali dati personali raccogliamo, come li utilizziamo e quali sono i
  tuoi diritti in merito. Utilizzando i nostri servizi, accetti le pratiche
  descritte in questo documento.
</p>

<h2>Quali Dati Raccogliamo</h2>
<p>Raccogliamo diverse tipologie di informazioni, tra cui:</p>
<ul>
  <li>
    <strong>Dati forniti da te:</strong> Informazioni di registrazione come
    nome, indirizzo email e password.
  </li>
  <li>
    <strong>Dati di utilizzo:</strong> Informazioni su come interagisci con il
    nostro servizio, come i contenuti visualizzati, la cronologia di visione e
    le tue preferenze.
  </li>
  <li>
    <strong>Dati tecnici:</strong> Informazioni sul tuo dispositivo, indirizzo
    IP, tipo di browser e sistema operativo.
  </li>
</ul>

<h2>Come Utilizziamo i Tuoi Dati</h2>
<p>Utilizziamo i tuoi dati per:</p>
<ul>
  <li>Fornire, personalizzare e migliorare i nostri servizi.</li>
  <li>Comunicare con te riguardo al tuo account e a offerte speciali.</li>
  <li>
    Analizzare l'utilizzo del servizio per comprendere meglio le preferenze dei
    nostri utenti.
  </li>
  <li>Garantire la sicurezza della nostra piattaforma.</li>
</ul>
