.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 48px;
  color: white;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: white;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
  color: #fff;
  background-color: #39B09D;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #50ecd2;
}
