.main-container {
height: 100vh;
display: flex;
align-items: center;
flex-wrap: nowrap;
flex-shrink: 0;
}

.login-container {
  background-color: rgb(40, 40, 40);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  margin: auto;
  width: 50%;
}

@media (max-width: 400px){
  .login-container {
    width: 90%;
  }
}

.login-container h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: #39B09D;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
  background-color: #39B09D;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.active_btn {
  color: white;
  background-color: #39B09D;
}

.disabled_btn {
  color: black;
  background-color: #bababa;
}

.register_link_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.register_link_box p{
  margin-top: 1rem;
  margin-right: 1rem;
  color: white;
}
.register_link_box button {
  margin-top: 1rem;
  background-color: transparent;
  color: #39B09D;
}

.btn_box {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
::placeholder{
  color:#39B09D;
  font-size: 16px;
  font-weight: bolder;
}