<div class="main-container">
  <div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm">
      <div class="form-group">
        <input type="text" id="email" name="email" formControlName="email" required placeholder="Email o Username">
      </div>
      <div class="form-group">
        <input type="password" id="password" name="password" formControlName="password" required placeholder="Password">
      </div>
      <div class="btn_box">
        <button (click)="onSubmit()" [disabled]="!loginForm.valid" mat-flat-button [ngClass]="{active_btn : loginForm.valid, disabled_btn : !loginForm.valid}">Accedi</button>
      </div>
    </form>
    <div *ngIf="loginError" class="error-message" style="color: red;">
      Errore durante il login. Controlla le credenziali e riprova.
    </div>
    <div class="register_link_box">
      <p>Non hai un account?</p>
      <button mat-flat-button routerLink="/register">REGISTRATI</button>
    </div>
  </div>
</div>
