<p>Ultimo aggiornamento: 23 Settembre 2025</p>

<h2>1. Accettazione dei Termini</h2>
<p>
  Utilizzando il sito web e i servizi di Hego TV (di seguito "Servizio"),
  accetti di essere vincolato da questi Termini di Servizio. Se non sei
  d'accordo con una qualsiasi parte dei termini, non puoi utilizzare il nostro
  Servizio.
</p>

<h2>2. Utilizzo del Servizio</h2>
<p>
  Hego TV ti concede una licenza limitata, non esclusiva e non trasferibile per
  accedere e visualizzare i contenuti disponibili sul Servizio per uso personale
  e non commerciale. È severamente vietato scaricare, riprodurre, distribuire o
  modificare qualsiasi contenuto senza il nostro esplicito consenso scritto.
</p>

<h2>3. Account Utente</h2>
<p>
  Per accedere a determinate funzionalità del Servizio, potresti dover creare un
  account. Sei responsabile della riservatezza della tua password e di tutte le
  attività che si verificano sotto il tuo account. Accetti di notificarci
  immediatamente qualsiasi uso non autorizzato del tuo account.
</p>

<h2>4. Modifiche al Servizio</h2>
<p>
  Ci riserviamo il diritto di modificare o interrompere, temporaneamente o
  permanentemente, il Servizio (o qualsiasi sua parte) con o senza preavviso.
  Non saremo responsabili nei tuoi confronti o nei confronti di terzi per
  qualsiasi modifica, sospensione o interruzione del Servizio.
</p>
