<iframe type="text/javascript" (load)="onIframeLoad()" [src]="this.url | safe" [hidden]="loading"
    style="border: none; height: 100%; width: 100%;  border-radius: 10px; overflow: hidden;"
    allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe>
<!-- <iframe src="https://iframe.mediadelivery.net/embed/759/eb1c4f77-0cda-46be-b47d-1118ad7c2ffe?autoplay=true"
    loading="lazy" width="100%" height="100%" style="border: none;"
    allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true">
</iframe> -->