.container{
  width: 100%;
  padding-top: 7rem;
}

.profile-pic{
  display: block;
  margin: 50px auto 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.15),
        0 0 50px rgba(0,0,0,0.1);
}

.profile-pic img{
  width: 100%;
  height: 100%;
}

.email{
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
  font-size: 24px;
  color: #444444;
}

.logout{
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  background-color: #39B09D;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.15),
        0 0 50px rgba(0,0,0,0.1);
  transition: all 0.3s ease-in-out;
}

.logout:hover{
  background-color: #27ae60;
  transform: scale(1.1);
}
