<div class="main">
  <div class="title">
    <h1>I tuoi preferiti</h1>
  </div>
  <div class="slide" #slide *ngFor="let item of items; let i = index" draggable="false" (click)="goToVideo(item['id'])">
    <img [src]="item['thumbnail']">
    <div class="content">
      <div class="slide_title_cont">
        <p class="slide_title">
          {{item['title']}}
        </p>
        <div style="display: flex; justify-content: space-between; font-size: 16px; align-items: center">
          <button mat-icon-button class="play-btn">
            <mat-icon>play_circle</mat-icon>
          </button>
          Play
        </div>
      </div>
      <p class="slide_desc">
        {{item['description']}}
      </p>
      <div class="lv-cont">
        <p>{{item['saveds']}}</p>
        <mat-icon>favorite</mat-icon>
        <p>{{item['visuals']}}</p>
        <mat-icon>play_arrow</mat-icon>
      </div>
    </div>
  </div>
</div>
