<div class="page-container">
  <div class="app-cont">
    <app-video-page class="app-video" [url]="url"></app-video-page>
  </div>
  <div class="details-container" >
    <div class="details">
      <div class="title-container">
        <p class="title">{{this.data.title.toUpperCase()}}</p>
        <p style="color: #909090; font-size: 14px;">
          {{this.category}}
        </p>
        <p style="color: #909090; font-size: 12px">
          {{this.data.duration.split(':')[0] + ' min' + ' ' + this.data.duration.split(':')[1] + ' sec'}}
        </p>
      </div>
      <p class="desc">{{this.data.description.length>350? this.data.description.substring(0,350): this.data.description}} {{this.more || this.data.description.length <= 350? "" : "..."}} {{this.data.description.length-350>0 && this.more? this.data.description.substring(350,this.data.description.length): ""}}</p>
      <button *ngIf="this.data.description.length > 350" (click)="openDescrition()">Mostra altro</button>
      <div class="btn-container">
        <button *ngIf="!isSaved && isLoggedIn" class="add-fav-btn" mat-raised-button (click)="saveVideo()">
          <mat-icon>add</mat-icon>
          Aggiungi ai preferiti
        </button>
        <button *ngIf="isSaved && isLoggedIn" class="add-fav-btn" mat-raised-button (click)="removeVideo()">
          <mat-icon>add</mat-icon>
          Rimuovi dai preferiti
        </button>
      </div>
      <div class="lv-cont">
        <div class="l-cont">
          <mat-icon>favorite</mat-icon>
          <p>{{this.data.saveds}}</p>
        </div>
        <div class="v-cont">
          <mat-icon>play_arrow</mat-icon>
          <p>{{this.data.visuals}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
