.page-container {
  display: flex;
  flex-direction: column;

}

.details-container {
  position: relative;
  /* display: grid; */
  /* grid-template-columns: 1.5fr 1fr; */
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  height: fit-content;
}

.details {
  margin: 0.5rem;
  height: fit-content;
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 1rem;
  box-sizing: border-box;
  padding-inline: 1rem;
  background-color: hsl(170, 51%, 10%);
  border-radius: 10px;
}

.details-image-container {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
}

.details-img {
  max-height: 90%;
  max-width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 0.2rem;
  width: 100%;
}

.title {
  font-size: 35px;
  color: aliceblue;
  font-weight: bold;
}

.desc {
  font-size: 12px;
  color: aliceblue;
  word-break: break-all;
  height: 95%;
}

.lv-cont {
  display: flex;
  align-items: center;
  font-size: 15px;
  width: 90%;
  color: aliceblue;
}

.l-cont,
.v-cont {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.l-cont p,
.v-cont p,
.l-cont mat-icon,
.v-cont mat-icon {
  margin-right: 0.5rem;
}

.btn-container {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;

}

.play-btn,
.add-fav-btn,
.like-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  width: fit-content;
  margin-inline-end: 10px;
}

button mat-icon {
  margin-right: 0.3rem;
}

.app-cont {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  height:50vh;
  min-height: 50vh;

}

.app-video {
  width: 80vw;
  box-sizing: border-box;
  padding: 0.3rem;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 850px) {
  .details-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 611px) {
  .app-cont {
    margin-top: 0;
  }
  .app-video {
    width: 100vw;
  }
  .details-container {
    grid-template-columns: 1fr;
  }
  
  /* .details {
    grid-template-rows: 0.15fr 1fr 0.1fr 0.15fr;
  } */

  .title {
    font-size: 25px;
  }

  /* .details-img {
    display: none;
  } */
  }